.sk {
    border-left: 5px solid skyblue;
    padding: 3px 0 0 14px;
    left: 190px;
    top: 40px;
}

.sk a:hover {
    color: skyblue;
}

.nav {
    overflow: hidden;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 800;
    color: #000;
}

.sk_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
}


.sk_bd {
    width: 1200px;
}


.sk_bd p {
    font-size: 16px;
    line-height: 1.5;
}

.sk_bd img {
    max-width: 100%;
    height: auto;
}

.sk_bd h2 {
    font-size: 24px;
}

.sk_bd ul {
    display: flex;
    flex-wrap: wrap;
}

.sk_bd ul li div {
    padding: 5px;
}

.sk_bd ul li {
    flex: 1;
    width: calc(25% - 10px);
    height: 460px;
    margin: 5px;
    margin-top: 20px;
    border: 1px solid gray;

}

.sk_bd ul li:hover {
    border: 1px solid skyblue;
}

.w {
    width: 1200px;
    margin: 0 auto;

}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut {
    line-height: 31px;
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 20px auto;
}

.search {
    width: 538px;
    height: 36px;
    border: 2px solid skyblue;
}

.search input {
    float: left;
    height: 32px;
    width: 454px;
    padding-left: 10px;
}

.search button {
    float: right;
    height: 33px;
    width: 80px;
    background-color: skyblue;
    color: white;
}


.nav {
    width: 100%;
    border-bottom: 2px solid skyblue;
}

.nav .w {
    height: 47px;
    line-height: 47px;
}