body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.editor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.title,
.content,
.image-upload,
.category {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.content {
    height: 300px;
}

.category {
    background-color: #f2f2f2;
    color: #333;
}

.submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: skyblue;
}

.image-upload {
    cursor: pointer;
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
}

.image-upload:hover {
    background-color: #0056b3;
}

.image-preview {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: auto;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid #007bff;
    color: #007bff;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn-wrapper:hover .btn-upload {
    border-color: skyblue;
    color: #007bff;
}