body {
    font-family: Arial, sans-serif;
    background-image: url('/image/background.webp');
    background-size: 100% 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.login-box {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-image 0.3s;
}

button:hover {
    background: linear-gradient(to bottom, #0056b3, #007bff);
}

.register-link {
    padding-top: 10px;
}

.register-link p a {
    color: blue;
}